.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.VolumeIcon.icns
.com.apple.timemachine.donotbackup
.Trashes
.Trash-*
.nfs*
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv/
venv/
ENV/
env/
ENV2/
ENV3/
pip-log.txt
pip-delete-this-directory.txt
.poetry/
.pipenv/
Pipfile.lock
.conda/
conda-bld/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.idea/
*.sublime-project
*.sublime-workspace
*.log
*.database
*.db
*.sqlite
.env
.env.*
!.env.example
.flaskenv
.htmlcov/
.tox/
.nosexy/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml